Si el usuario existente tiene calendarios disponibles, bucarlos y almacenarlos para decidir si guardar estos calendarios dentro un proyecto

1. Crear vista para crear un proyecto
2. Almacenar un proyecto, luego permitir almacenar los calendarios disponibles o crear uno nuevo para el proyecto
3. Habilitar opción al momento de crear un calendario, usuario puede crear y almacenar calendarios en su propia cuenta o en un proyecto.


Tengo un array de arrays y quiero almacenar todos estos datos en un unico array

Falta imprimir el proyecto con su nombre, terminar relación entre proyecto, calendario, posts

Sistema crud proyecto incompleto
Create-> Done
Read-> Done
Update-> Incomplete
Delete->Incomplete


Terminar modelo de datos para grupos y lograr relación.

Centro de investigaciones para criptomonedas, opteniendo los datos en tiempo de real desde coingecko y/o coinmarketcap
    Premium Versión -> Tabulate Information and manipulate input information for optimized investgations


349.61 x 408 y


109 x 522

110 974

671 626

Qué es un socio?

Un socio es aquel que decida donar activamente al proyecto Denome World, de esta forma contribuye al
mantenimiento y continua mejora de la app que es por y para la comunidad. Ser socio trae ciertos beneficios entre los cuales destacan:  privacidad a la hora de guardar contenido como bitácoras, calendarios, proyectos. Herramientas que proporcionan datos exactos y aproximados para la toma de decisiones de inversión.

Diferencias entre comunidad general y socios:
Comunidad general transparencia de datos / Socios tienen la opción de hacer privada la información