<section class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>
      I'm always on the look for profitable trades and investing opportunities and I share my real-life results with my viewers but I don't give financial advice. Join the movement.
      <cite>Denome</cite>
    </p>
  </div>
</section>
