<div class="container-fluid" style="background-color: burlywood;">
    <header>
        <h1 class="text-center">About</h1>
    </header>
    <article>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore error unde pariatur doloribus laudantium nam tenetur voluptate voluptates, quibusdam placeat laboriosam laborum, omnis mollitia sint exercitationem eaque magnam sapiente? Consequatur!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore error unde pariatur doloribus laudantium nam tenetur voluptate voluptates, quibusdam placeat laboriosam laborum, omnis mollitia sint exercitationem eaque magnam sapiente? Consequatur!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore error unde pariatur doloribus laudantium nam tenetur voluptate voluptates, quibusdam placeat laboriosam laborum, omnis mollitia sint exercitationem eaque magnam sapiente? Consequatur!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore error unde pariatur doloribus laudantium nam tenetur voluptate voluptates, quibusdam placeat laboriosam laborum, omnis mollitia sint exercitationem eaque magnam sapiente? Consequatur!</p>
    </article>
</div>