<div class="container p-4">
  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000">
        <img src="https://th.bing.com/th/id/R6364edcb82eb67a95150038351a1fe7b?rik=%2baTzSYPiOPP9oA&riu=http%3a%2f%2fprimecryptoreport.com%2fwp-content%2fuploads%2f2019%2f11%2ftrading.jpeg&ehk=S52%2fQh4xvy2iJh2%2bO22A6rsUH8Ncv2X6E%2fGkTNLOEik%3d&risl=&pid=ImgRaw" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="https://th.bing.com/th/id/R6364edcb82eb67a95150038351a1fe7b?rik=%2baTzSYPiOPP9oA&riu=http%3a%2f%2fprimecryptoreport.com%2fwp-content%2fuploads%2f2019%2f11%2ftrading.jpeg&ehk=S52%2fQh4xvy2iJh2%2bO22A6rsUH8Ncv2X6E%2fGkTNLOEik%3d&risl=&pid=ImgRaw" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://th.bing.com/th/id/R6364edcb82eb67a95150038351a1fe7b?rik=%2baTzSYPiOPP9oA&riu=http%3a%2f%2fprimecryptoreport.com%2fwp-content%2fuploads%2f2019%2f11%2ftrading.jpeg&ehk=S52%2fQh4xvy2iJh2%2bO22A6rsUH8Ncv2X6E%2fGkTNLOEik%3d&risl=&pid=ImgRaw" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>