<div class="container-fluid" style="background-color: black;">
    <h2 class="text-white">Footer</h2>
    <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore error unde pariatur doloribus laudantium nam tenetur voluptate voluptates, quibusdam placeat laboriosam laborum, omnis mollitia sint exercitationem eaque magnam sapiente? Consequatur!</p>
    <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore error unde pariatur doloribus laudantium nam tenetur voluptate voluptates, quibusdam placeat laboriosam laborum, omnis mollitia sint exercitationem eaque magnam sapiente? Consequatur!</p>
    <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore error unde pariatur doloribus laudantium nam tenetur voluptate voluptates, quibusdam placeat laboriosam laborum, omnis mollitia sint exercitationem eaque magnam sapiente? Consequatur!</p>
</div>
