<div class="col-md-4 mx-auto">
  <div class="card text-center bg-dark text-white">
    <div class="card-header">
      <h3>New Calendar</h3>
    </div>
    <div class="card-body">
      <form action="/calendars/new-calendar" method="POST">
        <div class="form-group">
          <input type="text" name="title" id="title" class="form-control text-white" placeholder="Title" autofocus/>
        </div>
        <div class="form-group">
            <input type="text" name="color" id="color" class="form-control text-white" placeholder="Color">
        </div>
        <div class="form-group">
            <input type="date" name="start" id="start" class="form-control text-white">
        </div>
        <div class="form-group">
            <input type="date" name="end" id="end" class="form-control text-white">
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

