<div class="row">
  {{#each postsUsers }}
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title d-flex justify-content-between align-items-center">
          {{ title }} 
        </h4>
        <p>{{ description }} </p>

        <!-- Prueba -->
        <div class="hello"></div>
        
      </div>
    </div>
  </div>
  {{else}}
  <div class="card mx-auto">
    <div class="card-body">
      <h1>Hello {{user.name}}</h1>
      <p clsss="lead">There are not Posts yet.</p>
      <a href="/posts/add" class="btn btn-success btn-block">Create One!</a>
    </div>
  </div>
  {{/each}}
</div>